<article
  class="article-item-shimmer"
  [class.article-item-shimmer--grid]="viewMode === 'grid'"
  [class.article-item-shimmer--list]="viewMode === 'list'"
>
  <div class="article-item-shimmer__image shimmer-effect"></div>
  <div class="article-item-shimmer__content">
    <div class="article-item-shimmer__header">
      <div class="article-item-shimmer__label shimmer-effect"></div>
      <div class="article-item-shimmer__name shimmer-effect"></div>
    </div>
    <div class="article-item-shimmer__machine">
      <div class="article-item-shimmer__label shimmer-effect"></div>
      <div class="article-item-shimmer__machine-name shimmer-effect"></div>
    </div>
    <div class="article-item-shimmer__arrow"></div>
  </div>
</article>
