<div class="inquiries-history">
  <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

  <div class="inquiries-history__header">
    <h2 class="inquiries-history__title">
      <app-icon name="fileWarning" size="20px" color="#232323"></app-icon>
      Activity / History
    </h2>
  </div>
  <div class="inquiries-history__body">
    <div class="inquiries-history__tabs">
      <button
        *ngFor="let tab of tabs"
        class="inquiries-history__tab"
        [class.inquiries-history__tab--active]="activeTab === tab"
        (click)="activeTab = tab"
      >
        {{ tab }}
      </button>
    </div>
    <app-inquiry-table [inquiries]="inquiryHistory"></app-inquiry-table>
  </div>
</div>
