<div class="dashboard">
  <div class="dashboard__content">
<!--    <app-carousel-->
<!--      [images]="carouselImages"-->
<!--      [autoPlay]="true"-->
<!--      [autoPlayInterval]="4000"-->
<!--      [showArrows]="true"-->
<!--      [showDots]="true"-->
<!--      [infiniteLoop]="true"-->
<!--      [animationDuration]="300">-->
<!--    </app-carousel>-->
    <app-quick-actions></app-quick-actions>
    <app-active-inquiries></app-active-inquiries>
    <app-activity-history></app-activity-history>
  </div>
</div>
