<div class="active-inquiries">
  <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

  <section class="active-inquiries">

    <div class="active-inquiries__header">
      <h2 class="active-inquiries__title">
        <app-icon name="fileWarning" size="20px" color="#232323"></app-icon>
        Active Inquiries
      </h2>
    </div>

    <div class="active-inquiries__body">
      <div class="active-inquiries__grid">
        @for (inquiry of activeInquiries; track inquiry.id) {
          <app-inquiry-card [inquiry]="inquiry"></app-inquiry-card>
        }
      </div>
    </div>
  </section>

</div>
