.sidebar {
  $self: &;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 80px);
  width: 250px;
  background-color: white;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #F3F4F6;
  margin-top: 80px;
  z-index: 80;

  @media screen and (max-width: 834px) {
    display: none;
  }

  &--collapsed {
    width: 52px;

    #{$self}__link-text,
    #{$self}__section-title,
    #{$self}__user-info,
    #{$self}__submenu-icon {
      display: none;
    }

    #{$self}__nested-list {
      display: none;
    }

    .sidebar__toggle {
      right: -14px;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__nav {
    flex: 1;
    padding: 16px 0;
  }

  &__top {
    padding-right: 16px;
  }

  &__toggle {
    position: absolute;
    top: 4px;
    right: 16px;
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #374151;

    &:hover {
      color: #DC2626;
    }
  }

  &__section {
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__section-title {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    color: #DC2626;
    font-weight: 500;
    margin: 0;
  }

  &__list,
  &__sub-list,
  &__nested-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__nested-list {
    position: relative;
    margin-top: 4px;
    overflow: hidden; // Added to ensure smooth animation

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #E5E7EB;
      position: absolute;
      left: 25px;
      top: 0;
    }
  }

  &__item {
    position: relative;
    width: 100%;

    &--indented {
      padding-left: 32px;
      //width: calc(100% - 100px);
    }
  }

  &__link,
  &__submenu-toggle {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    color: #374151;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: auto;
    border: none;
    background: none;
    text-align: left;
    font-size: 14px;

    &:hover {
      background-color: #F9FAFB;
      border-radius: 6px;
    }

    &--active {
      background-color: #F4F4F5;
      font-weight: normal;
      svg {
        stroke: #DC2626 !important;
      }
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__link--submenu {
    padding: 8px 16px;
  }

  &__submenu-toggle {
    position: relative;

    &--expanded {
      background-color: #F9FAFB;
      border-radius: 6px;

      .sidebar__icon svg path {
        stroke: #DC2626;
      }
    }
  }

  &__submenu-icon {
    margin-left: auto;
    transition: transform 0.3s ease;

    &--rotated {
      transform: rotate(180deg);
    }
  }

  &__icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--rotated {
      transform: rotate(180deg);
    }

    svg {
      stroke: #232323;
    }
  }

  &__link-text {
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
  }

  &__footer {
    border-top: 1px solid #F3F4F6;
    padding: 16px 0;
  }

  &__divider {
    height: 1px;
    background-color: #F3F4F6;
    margin: 8px 16px;
  }

  &__user {
    padding: 0; /* Remove padding from parent to better control inner elements */
    position: relative;

    &:hover {
      background-color: #F9FAFB;
    }

    &-dropdown {
      position: absolute;
      bottom: 50px;
      left: 8px;
      width: calc(100% - 32px);
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      border: 1px solid var(--base-border, #E4E4E7);
      background: var(--base-popover, #FFF);
      padding: 4px 8px;
      z-index: 100;
      font-size: 14px;
    }

    &-row {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 16px;
      cursor: pointer;

      &:hover {
        background-color: #F9FAFB;
      }

      svg path {
        transition: stroke 0.2s ease;
      }

      &:hover svg path {
        //stroke: #DC2626;
      }
    }

    &-icon-arrow {
      margin-left: auto;
      transition: transform 0.3s ease;

      &--rotated {
        transform: rotate(180deg);
      }
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__user-name {
    font-size: 14px;
    font-weight: 500;
    color: #374151;
  }

  &__user-role {
    font-size: 12px;
    color: #6B7280;
  }

  &__user-switch-user {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.2s ease;
    color: #6B7280;
    border-radius: 2px;

    &:hover {
      background-color: #F4F4F5;
    }

    span {
      display: flex;
      align-items: center;
    }
  }

  &__user-logout {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.2s ease;
    color: #6B7280;
    border-radius: 2px;

    &:hover {
      background-color: #F4F4F5;
    }

    span {
      display: flex;
      align-items: center;
    }
  }

  &__user-initials {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DC2626;
    color: white;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__submenu-link--active {
    background-color: #F9FAFB;
    font-weight: normal;
    border-radius: 6px;

    svg {
      stroke: #DC2626 !important;
    }
  }
}
