<div
  class="manual-notification"
  *ngIf="visible"
  [@slideInOut]
>
  <div class="manual-notification__content" [ngClass]="{'manual-notification__content--remove': type === 'remove'}">
    <div class="manual-notification__message">
      <h2 class="manual-notification__title">{{ type === 'success' ? 'Success!' : 'Removed!' }}</h2>
      <p class="manual-notification__text">{{ message }}</p>
    </div>
    <div class="manual-notification__actions">
<!--      <button-->
<!--        class="manual-notification__view-inquiry"-->
<!--        (click)="onViewInquiry()"-->
<!--      >-->
<!--        View Inquiry-->
<!--        <span class="icon">-->
<!--          <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path d="M6 12l4-4-4-4" stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--          </svg>-->
<!--        </span>-->
<!--      </button>-->
    </div>
  </div>
</div>
