.top-bar {
  $self: &;
  height: 80px;
  color: #F4F4F5;
  background-color: #232323;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;
  transition: left 0.3s ease;

  &__content {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F4F4F5;
    margin: 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
