.top-bar {
  height: 80px;
  background-color: #18181B;
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  z-index: 900;

  &__content {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
  }

  &__content-wrapper {
    display: flex;
    width: 100%
  }

  &__logo-wrapper {
    flex-shrink: 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #F4F4F5;
    font-weight: 500;
    font-size: 20px;
  }

  &__search {
    flex: 1;
    max-width: 640px;
    margin-left: 180px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__action-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #232323;
    border: none;
    border-radius: 6px;
    color: #E4E4E7;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;

    &:hover {
      background: #27272A;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #DC2626;
    color: white;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

// Media query for smaller screens
@media (max-width: 992px) {
  .top-bar {
    &__search {
      margin-left: 24px;
    }
  }
}

@media (max-width: 768px) {
  .top-bar {
    &__content {
      padding: 0 16px;
      gap: 16px;
    }

    &__search {
      margin-left: 16px;
    }
  }
}

@media (max-width: 576px) {
  .top-bar {
    &__content-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__search {
      margin-left: 0;
      margin-top: 8px;
    }

    &__actions {
      display: none;
    }
  }
}
